* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #6b5b95; /* Purple accent */
  --primary-light: #6b5b9573; /* Purple accent */
  --background: #ffffff;
  --text: #333333;
  --soft-green: #d0eae4;
  --lavender: #e6e6fa;
  --light--lavender: #e6e6fa25;
  --light-gray: #f2f2f2;
  --accent-peach: #ff6f61;
  --secondary-light: rgba(219, 178, 180, 0.185); /* Pink accent */
  --secondary: rgba(219, 178, 180, 0.733); /* Pink accent */
}

@font-face {
  font-family: "MyCustomFont";
  src: url(../ananda-black-font/AnandaBlackPersonalUseRegular-rg9Rx.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont2";
  src: url(../Montserrat/Montserrat-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont3";
  src: url(../Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont4";
  src: url(../Roboto/Roboto-VariableFont_wdth\wght.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont5";
  src: url(../Roboto/Roboto-Italic-VariableFont_wdth\wght.ttf);
  font-weight: normal;
  font-style: normal;
}

.main-header {
  margin: auto;
  height: 90dvh;
  background: linear-gradient(var(--accent-peach), var(--light-gray));

  background-size: 100% 120%;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-blend-mode: darken;
  background-color: rgba(21, 21, 22, 0.683);
  /* width: 80%; */
  color: white;
  /* border-radius: 2rem; */
  text-align: center;
  clip-path: ellipse(80% 60% at 50% 40%);
}

.sub-header {
  margin: auto;
  width: 80%;
  padding: 0.5rem;
}

.main-text {
  font-size: clamp(2rem, 2vw + 0.4rem, 3rem);
  text-align: center;
  width: 100%;
  color: white;
  font-family: "MyCustomFont2";
}
.small-text {
  text-align: center;
  line-height: 1.9;
  width: 70%;
  color: var(--background);
  margin: auto;
  font-family: "MyCustomFont2";
}
