* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 460px) {
  .gym-features {
    display: flex;
    gap: 0.4rem;
    margin: 1em;
  }
  .gym-main-section-1 {
    width: 100%;
    border-radius: 0;
    background-size: 150% 120%;
    background-position: center;
  }

  .gym-part--2-img p {
    position: relative;
    top: 50%;
    padding: 1rem;
  }
  .icon-text {
    color: white;
  }

  .gym-section--3 {
    flex-direction: column;
  }
  .gym-part---1 {
    width: 100%;
  }
  .gym-part---2 {
    width: 100%;
    background-size: cover;
    border-radius: 1rem;
  }
  .pricing-cards {
    flex-direction: column;
  }
  /* .slide {
    display: flex;
  } */
}

@media (max-width: 750px) {
  .gym-part--2 {
    flex-direction: column;
  }
  .gym-part--2-img {
    width: 100%;
  }
  .main-text {
    font-size: 1.5rem;
    line-height: 1.5;
    word-spacing: 3.7px;
  }
  .mark-sign {
    height: 2rem;
    width: 2rem;
    padding: 0.1rem;
  }

  .gym-section--3 {
    flex-direction: column;
  }
  .gym-part---1 {
    padding: 0.5rem;
  }

  .heading--1 {
    /* line-height: 1.7; */
    font-size: calc(100% + 1.5rem);
  }
  .heading--2 {
    font-size: calc(100% + 0.2rem);
    line-height: 1.5;
  }
}
